<mat-toolbar class="sticky" class="allbg">
  <span style="color: white;">Customer</span>
  <span class="space"></span>
  <button mat-button (click)="close()" style="color: white;" >
    <i class="material-icons"> close </i>
  </button>
</mat-toolbar>
<h4 align="center">Customer No. xxxx</h4>

<form>
<mat-grid-list cols="10" rowHeight="20px">
  <mat-grid-tile colspan="10" rowspan="1"></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="8" rowHeight="55px">
  <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Customer Name</mat-label>
      <textarea matInput rows="2"></textarea>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput rows="2"></textarea>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
</mat-grid-list>

<!-- <mat-dialog-actions align="center">
  <button *ngIf="!data" mat-raised-button color="primary" (click)="onConfirmClick(0)" tabindex="1"
    [disabled]="!quotation.valid">Create</button>
  <button *ngIf="data" mat-raised-button color="primary" (click)="onConfirmClick(1)" tabindex="1"
    [disabled]="!quotation.valid">Update</button>
  <button mat-raised-button mat-dialog-close tabindex="-1" color="warn">cancel</button>
</mat-dialog-actions> -->
</form>
