table {
  margin-bottom: 30px;
  width: 100%;
}
.space {
  flex: 1 1 auto;
}

#addGroupTable {
  margin-bottom: 0;
}
mat-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mat-dialog-container {
  overflow: hidden !important;
}
.mat-dialog-content {
  display: unset !important;
}
.cancel {
  margin-top: 5px;
}
.btn {
  margin: 0px 15px 20px;
}

.content{
  margin: 0 30px;
}

