<h1>Quotation : {{invoices[0].quotationId}}</h1>
<h2>Name : {{invoices[0].customer.name}} , Addres : {{invoices[0].customer.address}}</h2>
<table mat-table [dataSource]="groupBy" multiTemplateDataRows matSort class="mat-elevation-z8">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> NO. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
    <td mat-cell *matCellDef="let element"> {{element.customer.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="invoiceCol"></tr>
  <tr mat-row *matRowDef="let row; columns: invoiceCol" class="detail-row"></tr>
</table>
