<mat-spinner *ngIf="!invoices"></mat-spinner>
<div *ngIf="invoices">
  <mat-toolbar class="allbg">
    <span style="color: white;">Invoice : {{decode(dataInvoiceGroup.invoice.id, dataInvoiceGroup.invoice.count)}} ,
    </span>
    <span style="color: white;"> Group Name : {{dataInvoiceGroup.invoice.group[dataInvoiceGroup.index].name}}</span>
    <span class="space"></span>
    <button mat-button mat-dialog-close tabindex="-1" style="color: white;">
      <i class="material-icons"> close </i>
    </button>
  </mat-toolbar>
</div>

<div *ngIf="invoices" class="content">
  <h2>Name : {{getCustomer(dataInvoiceGroup.invoice.customerId).name}} ,
    Address : {{getCustomer(dataInvoiceGroup.invoice.customerId).address}}</h2>
  <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="toggleShoing()">Add invoice</button>
  <div>
    <div align="center">
      <!-- <button mat-raised-button color="primary" (click)="toggleShoing()" >Add invoice</button> -->
    </div>
    <br />
    <mat-card *ngIf="isShowing" style="margin-bottom: 10px;">
      <div [formGroup]="addForm">
        <mat-form-field appearance="outline">
          <mat-label>Invoice Name : </mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
      </div>
      <div class="col-md-2" [formGroup]="rows">
        <div class="form-group">
          <table id="addGroupTable">
            <tbody>
              <tr *ngFor="let row of addForm.get('rows').controls; let i = index;">
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Name : </mat-label>
                    <input matInput [formControl]="row.get('name')" [matAutocomplete]="autoName" required>
                    <mat-autocomplete #autoName="matAutocomplete">
                      <mat-option *ngFor="let item of dataInvoiceGroup.invoice.items" [value]="getItems(item).name"
                        (click)="getMaxQuantity(item, i)" name="item.itemId">
                        <span>{{getItems(item).name}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Quantity : </mat-label>
                    <input matInput type="number" min="0" [max]="maxQuantityList[i]" (keypress)="checkMax(maxQuantityList[i], row, i)" [formControl]="row.get('quantity')"
                      required>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-raised-button color="warn" (click)="onRemoveRow(i, row)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div align="center">
        <button mat-raised-button color="primary" (click)="onAddRow()">add item</button></div>
      <div>
        <button mat-raised-button class="btn" color="accent" (click)="onConfirmClick()" tabindex="1"
          [disabled]="!rows.valid || !addForm.valid">Create</button>
        <button mat-raised-button class="btn" color="warn" (click)="toggleShoing()">cancel</button>
      </div>
    </mat-card>
    <br />
    <!-- invoices[dataInvoiceGroup.index] -->
    <div *ngFor="let subInv of dataInvoiceGroup.invoice.group; let i = index">
      <div *ngIf="dataInvoiceGroup.index === i">
        <span *ngFor="let list of subInv.subInvoices; let j = index">
          <!-- <div *ngIf="list.status === 'active'"> -->
          <!-- {{list|json}} -->
          <h4>Invoice Name : {{list.name}} ,
            Invoice NO : {{list.subInvoiceId}},
            <span *ngIf="list.status === 'active'">
              PDF : <button mat-button (click)="openPdf(list, dataInvoiceGroup.index, j)">
                <img src="/assets/icons/pdfbw.svg">
              </button>
            </span>
            <span *ngIf="list.status !== 'active'" style="color: red;">Cancel</span>
          </h4>

          <!-- table status active -->

          <table *ngIf="list.sellItems&&list.status === 'active'" mat-table [dataSource]="list.sellItems"
            multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let element">{{getItems(element).name}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"><span
                  *ngIf="element">{{(element.quantity).toLocaleString()}}</span></td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef> Total price </th>
              <td mat-cell *matCellDef="let element">
                <!-- {{getTotal((getItems(element).price * element.quantity), j)}} -->
                {{(getItems(element).price * element.quantity).toLocaleString()}} </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button [matMenuTriggerFor]="more" aria-label="" style="float: right;">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #more>
                  <button mat-menu-item (click)="deleteTableSubInvoice(dataInvoiceGroup.invoice.id, i, j)">Delete
                    Table</button>
                </mat-menu>
              </th>
              <td mat-cell *matCellDef="let element">
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="invoiceCol"></tr>
            <tr mat-row *matRowDef="let row; columns: invoiceCol" class="detail-row"></tr>
          </table>

          <!-- end table status active -->


          <!-- table status cancel -->

          <table *ngIf="list.sellItems&&list.status !== 'active'" mat-table [dataSource]="list.sellItems"
            multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let element" class="disabled">{{getItems(element).name}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element" class="disabled"><span
                  *ngIf="element">{{(element.quantity).toLocaleString()}}</span></td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef> Total price </th>
              <td mat-cell *matCellDef="let element" class="disabled">
                {{(getItems(element).price * element.quantity).toLocaleString()}} </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button [matMenuTriggerFor]="more" aria-label="" style="float: right;" disabled>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #more>
                  <button mat-menu-item (click)="deleteTableSubInvoice(dataInvoiceGroup.invoice.id, i, j)"
                    class="disabled">Delete
                    Table</button>
                </mat-menu>
              </th>
              <td mat-cell *matCellDef="let element">
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="invoiceCol"></tr>
            <tr mat-row *matRowDef="let row; columns: invoiceCol" class="detail-row"></tr>
          </table>

          <!-- end table status cancel -->

          <!-- check total status -->

          <p align="right" *ngIf="tableTotal[j]">
            <b *ngIf="list.status === 'active'">Total {{tableTotal[j].toLocaleString()}} + tax 7% =
              {{((tableTotal[j] * 7)/100 + tableTotal[j]).toLocaleString()}}</b>

            <b *ngIf="list.status !== 'active'" class="disabled">Total {{tableTotal[j].toLocaleString()}} + tax 7% =
              {{((tableTotal[j] * 7)/100 + tableTotal[j]).toLocaleString()}}</b>
          </p>

          <!-- end total check status -->

        </span>
      </div>
    </div>
    <button mat-raised-button mat-dialog-close tabindex="-1" style="margin-bottom: 20px;" color="warn">cancel</button>
  </div>
