<mat-spinner *ngIf="!mainInvoices"></mat-spinner>

<div *ngIf="mainInvoices">
  <h1>Quotation : {{mainInvoices.quotationId}}</h1>
  <h2>Name : {{mainInvoices.customer.name}} , Addres : {{mainInvoices.customer.address}}</h2>
  <div *ngFor="let subInv of mainInvoices.subInvoices;">
    <table mat-table [dataSource]="subInv" multiTemplateDataRows matSort class="mat-elevation-z8">
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.subInvoices[0][0].items[0].item}} </td> -->
        <td mat-cell *matCellDef="let element"> {{element.item.name}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.subInvoices[0][0].items[0].quantity}} </td> -->
        <td mat-cell *matCellDef="let element"> {{element.item.quantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="invoiceCol"></tr>
      <tr mat-row *matRowDef="let row; columns: invoiceCol" class="detail-row"></tr>
    </table>
  </div>
</div>
