<h1 align="center" class="head">Purchase</h1>
<mat-grid-list cols = "4">
  <mat-grid-tile colspan="1" >
  </mat-grid-tile>
  <mat-grid-tile colspan="1" >
    <button mat-button [routerLink]="['/purchasere']">
    <img src="/assets/icons/requisition.svg" style="width: 50%;"><h2>Purchase Requisition (PR)</h2></button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" >
    <button mat-button>
    <img src="/assets/icons/order.svg" style="width: 50%;"><h2>Purchase Order (PO)</h2></button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" >
  </mat-grid-tile>
</mat-grid-list>
