<mat-dialog-content>
  <div class="col-md-2" [formGroup]="rows">
    <div class="form-group">
      <table>
        <tbody>
          <tr *ngFor="let row of addForm.get('rows').controls; let i = index;">
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Name : </mat-label>
                <input matInput [formControl]="row.get('name')" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Quantity : </mat-label>
                <input matInput type="number" [formControl]="row.get('quantity')" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Price : </mat-label>
                <input matInput type="number" [formControl]="row.get('price')" required>
              </mat-form-field>
            </td>
            <td>
              <button mat-raised-button color="warn" (click)="onRemoveRow(i)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="onAddRow()">add row</button>

  <mat-dialog-actions align="center">
    <button *ngIf="!data" mat-raised-button color="primary" (click)="onConfirmClick(0)" tabindex="1"
      [disabled]="!rows.valid">Create</button>
    <!-- <button *ngIf="data" mat-raised-button color="primary" (click)="onConfirmClick(1)" tabindex="1"
      [disabled]="!rows.valid">Update</button> -->
    <button mat-raised-button mat-dialog-close tabindex="-1">cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
