<mat-toolbar class="sticky" class="allbg">
  <span style="color: white;">Purchase Requisition</span>
  <span class="space"></span>
  <button mat-button (click)="close()" style="color: white;">
    <i class="material-icons"> close </i>
  </button>
</mat-toolbar>
<br />
<form *ngIf="prInfo" [formGroup]="prInfo" novalidate>
  <mat-grid-list cols="3" rowHeight="20vh">
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="outline">
        <mat-label>PR's Name</mat-label>
        <input matInput type="text" formControlName="prName" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="8" rowHeight="20vh">
    <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-form-field appearance="outline">
        <mat-label>Supplier's Name </mat-label>
        <input matInput type="text" formControlName="spName" type="text" [matAutocomplete]="auto1" required />
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let sp of supplier; let i = index" [value]="sp.name">
            {{sp.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-form-field appearance="outline">
        <mat-label>Supplier's address</mat-label>
        <input type="text" matInput rows="2" formControlName="spAddress"/>
        <!-- <textarea matInput rows="2" formControlName="spAddress"></textarea> -->
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-form-field appearance="outline">
        <mat-label>Destination address</mat-label>
        <textarea matInput rows="4" formControlName="desAddress"></textarea>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-form-field appearance="outline">
        <mat-label>Additional Note</mat-label>
        <textarea matInput rows="4" formControlName="addiNote"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div align="center">
    <mat-form-field appearance="outline">
      <mat-label>Shipping Cost</mat-label>
      <textarea matInput rows="2" formControlName="shipCost"></textarea>
    </mat-form-field>
  </div>

  <h1 align="center">Items</h1>
  <div align="center">
    <mat-card formArrayName="allPRItem">
      <table>
        <tr *ngFor="let allPRItem of prInfo['controls'].allPRItem['controls']; let i = index">
          <td>
            <mat-form-field appearance="outline" *ngIf="allPRItem">
              <mat-label>Item's Name</mat-label>
              <input type="text" matInput [formControl]="allPRItem.get('itName')" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option (click)="setPriceItem(item, i)" *ngFor="let item of supplierItem; let j = index" [value]="item.name">
                  {{item.name}}
                </mat-option>
              </mat-autocomplete>
              <!-- <input type="text" matInput [formControl]="allPRItem.get('itName')"> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" *ngIf="allPRItem">
              <mat-label>Quantity</mat-label>
              <input type="number" min="0" matInput [formControl]="allPRItem.get('quantity')">
            </mat-form-field>
          </td>
          <td>
            <button type="button" mat-raised-button (click)="removeUnit(i)">
              Remove
            </button>
          </td>
        </tr>
      </table>
      <div align="center">
        <button mat-button>
          <i class="material-icons md-48" (click)="onAddRow()">add_circle_outline</i>
        </button>
      </div>
    </mat-card>
  </div>

  <div align="center">
    <h2>Total Price : {{getTotalPrice()}}</h2>
  </div>

  <mat-dialog-actions align="center">
    <button *ngIf="!data" mat-raised-button color="primary" (click)="onConfirmClick(0)" tabindex="1"
      [disabled]="!prInfo.valid">Create</button>
    <button *ngIf="data" mat-raised-button color="primary" (click)="onConfirmClick(1)" tabindex="1"
      [disabled]="!prInfo.valid">Update</button>
    <button mat-raised-button mat-dialog-close tabindex="-1" color="warn">cancel</button>
  </mat-dialog-actions>
</form>
