<h1 align="center"> Departments management <img src="/assets/menu/team.svg" style="width: 50px; padding-top: 30px;"></h1>
<button mat-button style="margin-left: 80%; padding-bottom: 20px;" (click)="openDepartment()">
  <img src="/assets/icons/add.svg">
</button>

<table mat-table *ngIf = "departments" [dataSource]="departments"  matSort class="mat-elevation-z8"
  style="width: 80%;" align="center">

  <!-- <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> NO. </th>
    <td mat-cell *matCellDef="let element"><button mat-button>
        {{element.id  | cutString}} </button></td>
  </ng-container> -->

  <ng-container matColumnDef="departmentId">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let element"> {{element.departmentId}}  </td>
  </ng-container>

  <!-- <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container> -->

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Department </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="editDepartment(element)">
        <i class="material-icons"> edit </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="delete(element.departmentId)">
        <i class="material-icons"> delete </i>
      </button>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="departmentCol"></tr>
  <tr mat-row *matRowDef="let row; columns: departmentCol;"></tr>
</table>

