<h1 align="center">Quotation <img src="/assets/icons/quotation.svg" style="width: 50px; padding-top: 30px;"></h1>
<button mat-button (click)="openQuotation()" style="margin-left: 80%; padding-bottom: 20px;">
  <img src="/assets/icons/add.svg">
</button>
<table mat-table *ngIf="quotations && customers" [dataSource]="quotations" matSort class="mat-elevation-z8"
  style="width: 80%;" align="center">

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> NO. </th>
    <td mat-cell *matCellDef="let element"><button mat-button (click)="quotationDetail(element.id)">
        {{decode(element.id, element.count)}}</button></td>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> Customer name</th>
    <td mat-cell *matCellDef="let element"> {{getCustomer(element.customerId).name}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>created by</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="delete(element.id)">
        <i class="material-icons"> delete </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="edit(element)">
        <i class="material-icons"> edit </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="pdf">
    <th mat-header-cell *matHeaderCellDef> Download </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="opnePdf(element)">
        <img src="/assets/icons/pdfbw.svg">
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="createInvoice">
    <th mat-header-cell *matHeaderCellDef> Create Invoice </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="createInvoice(element)" [disabled]="element.invoiceId != ''">
        <i class="material-icons"> add</i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="quotationCol"></tr>
  <tr mat-row *matRowDef="let row; columns: quotationCol;"></tr>
</table>
