<mat-spinner *ngIf="!invoice"></mat-spinner>
<div *ngIf="invoice">
  <mat-toolbar class="allbg">
    <span style="color: white;">Invoice : {{decode(invoice.id)}}</span>
    <span class="space"></span>
    <button mat-button mat-dialog-close tabindex="-1" style="color: white;">
      <i class="material-icons"> close </i>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="invoice" class="content">
  <h2>
    Name : {{ getCustomer(invoice.customerId).name }} ,
    Address : {{ getCustomer(invoice.customerId).address }}
  </h2>
  <div>
    <div [formGroup]="addGroup" align="center">
      <mat-form-field appearance="outline">
        <mat-label>Group Name : </mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <button mat-raised-button color="primary" class="content" [disabled]="addGroup.invalid"
        (click)="addGroupName(addGroup)">add</button>
    </div>
  </div>
</div>
<mat-list class="content" *ngFor="let item of listGroupName;">
  <!-- if active -->
  <mat-card *ngIf="item.invoiceGroupStatus === 'active'">
    <button mat-button (click)="onClickOpenDetail(invoice, item)">
      <b class="statusActive">●</b> Group Name : {{item.groupName}}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="more" aria-label="" style="float: right;">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card>
  <!-- end if active -->

  <!-- if group name not active -->
  <mat-card *ngIf="item.invoiceGroupStatus !== 'active'">
    <button mat-button (click)="onClickOpenDetail(invoice)" disabled>
      <b class="statusCancel">●</b> Group Name : {{item.groupName}}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="more" aria-label="" style="float: right;" disabled>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card>
  <!-- end if group name not active -->

  <mat-menu #more>
    <button mat-menu-item (click)="editGroupName(item.invoiceGroupId)">Edit group name</button>
    <button mat-menu-item (click)="deleteGroupName(item.invoiceGroupId)">Delete</button>
  </mat-menu>
</mat-list>
