<mat-spinner *ngIf="!invoices"></mat-spinner>
<div *ngIf="invoices">
  <mat-toolbar class="allbg">
    <span style="color: white;">Invoice : {{ data }}</span>
    <span class="space"></span>
    <button mat-button mat-dialog-close tabindex="-1" style="color: white;">
      <i class="material-icons"> close </i>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="invoices" class="content">
  <!-- <h1>Quotation : {{mainInvoices.quotationId}}</h1> -->
  <h2>
    Name : {{ getCustomer(invoices.customerId).name }} , Address :
    {{ getCustomer(invoices.customerId).address }}
  </h2>
  <div>
    <div [formGroup]="addGroup" align="center">
      <mat-form-field appearance="outline">
        <mat-label>Group Name : </mat-label>
        <input matInput formControlName="groupName" required />
      </mat-form-field>
      <button mat-raised-button color="primary" class="content" [disabled]="addGroup.invalid" (click)="addGroupName(addGroup)">add</button>
    </div>
  </div>
</div>

<mat-list class="content">
  <mat-card >
  <button mat-button (click)="onClickopendetail(invoices.id)">Group 1</button>
  <button mat-icon-button [matMenuTriggerFor]="more" aria-label="" style="float: right;">
    <mat-icon>more_vert</mat-icon></button>
  </mat-card>
    <mat-menu #more>
      <button mat-menu-item>Delete</button>
      <button mat-menu-item>Edit</button>
    </mat-menu>

</mat-list>
