<mat-toolbar class="sticky" class="allbg">
  <span style="color: white;">Department</span>
  <span class="space"></span>
  <button mat-button (click)="close()" style="color: white;" >
    <i class="material-icons"> close </i>
  </button>
</mat-toolbar>
<br>
<!-- <h4 align="center">No. xxxx</h4> -->

<form [formGroup] = "department" novalidate>
<mat-grid-list cols="8" rowHeight="55px">
  <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Depertment</mat-label>
      <textarea matInput rows="2" formControlName="department"></textarea>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <mat-form-field appearance="outline">
      <mat-label>Position</mat-label>
      <textarea matInput rows="2" formControlName="position"></textarea>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-actions align="center">
  <button *ngIf="!data" mat-raised-button color="primary" (click)="onConfirmClick(0)" tabindex="1"
    [disabled]="!department.valid">Create</button>
  <button *ngIf="data" mat-raised-button color="primary" (click)="onConfirmClick(1)" tabindex="1"
    [disabled]="!department.valid">Update</button>
  <button mat-raised-button mat-dialog-close tabindex="-1" color="warn">cancel</button>
</mat-dialog-actions>

</form>
