<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<h1 align="center">Invoice <img src="/assets/icons/invoice.svg" style="width: 50px; padding-top: 30px;"></h1>
<div align="center" class="space">
  <mat-spinner *ngIf="!invoices"></mat-spinner>
</div>
<table mat-table *ngIf="invoices" [dataSource]="invoices" multiTemplateDataRows matSort class="mat-elevation-z8"
  style="width: 80%;" align="center">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> NO. </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status !== 'active'" class="disable">
        {{decode(element.id, element.count)}}</div>
      <div *ngIf="element.status === 'active'">
        {{decode(element.id, element.count)}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="groups">
    <th mat-header-cell *matHeaderCellDef> Invoice Groups </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status == 'active'">
        <button mat-button (click)="openDetail(element.id)">
          <img src="/assets/icons/profiles.svg">
        </button></div>
      <div *ngIf="element.status == 'canceled'">
        <button mat-button (click)="openDetail(element)" [disabled]="element.status != 'active'">
          <img src="/assets/icons/profiledis.svg" style="width: 32px; height: 32px;">
        </button></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> CustomerName </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status !== 'active'" class="disable">
        {{getCustomerName(element.customerId)}}</div>
      <div *ngIf="element.status === 'active'">
        {{getCustomerName(element.customerId)}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="addressTo">
    <th mat-header-cell *matHeaderCellDef> Address To </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status !== 'active'" class="disable">
        {{getCustomerAddress(element.customerId)}}</div>
      <div *ngIf="element.status === 'active'">
        {{getCustomerAddress(element.customerId)}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status !== 'active'" class="disable">
        {{getDate(element.quotationId) | date}}
      </div>
      <div *ngIf="element.status === 'active'">
        {{getDate(element.quotationId) | date}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="receiptpdf">
    <th mat-header-cell *matHeaderCellDef> Receip PDF </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status == 'active'">
        <!-- {{element.isReceip}} -->
        <div *ngIf="element.isReceip">
          <button mat-button (click)="openReceiptPdf(element)">
            <img src="/assets/icons/pdfbw.svg">
          </button>
        </div>
        <div *ngIf="!element.isReceip">
          <!-- {{element|json}} -->
          <button mat-button *ngIf="role !== 'Admin'" disabled>
            <!-- <img src="/assets/icons/pdfbw.svg"> -->
            <i class="material-icons"> add</i>
          </button>
          <button mat-button *ngIf="role === 'Admin'" (click)="addReceip(element.id)">
            <i class="material-icons"> add</i>
          </button>
        </div>
      </div>
      <div *ngIf="element.status == 'canceled'">
        <button mat-button (click)="openReceiptPdf(element)" [disabled]="element.status != 'active'">
          <img src="/assets/icons/pdfdis.svg" style="width: 32px; height: 32px;">
        </button></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="delete(element.id, element.quotationId)" [disabled]="element.status != 'active'">
        <i class="material-icons"> delete </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="invoicepdf">
    <th mat-header-cell *matHeaderCellDef> Invoice PDF </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status == 'active'">
        <button mat-button (click)="opnePdf(element)">
          <img src="/assets/icons/pdfbw.svg">
        </button></div>
      <div *ngIf="element.status == 'canceled'">
        <button mat-button (click)="opnePdf(element)" [disabled]="element.status != 'active'">
          <img src="/assets/icons/pdfdis.svg" style="width: 32px; height: 32px;">
        </button></div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="invoicesCol"></tr>
  <tr mat-row *matRowDef="let row; columns: invoicesCol" class="detail-row"></tr>
</table>
