<mat-toolbar class="sticky" class="allbg">
  <span style="color: white;">Quotation</span>
  <span class="space"></span>
  <button mat-button (click)="close()" style="color: white;">
    <i class="material-icons"> close </i>
  </button>
</mat-toolbar>
<!-- <h4 align="center">Quote NO. </h4> -->


<form [formGroup]="quotation" novalidate>
  <mat-grid-list cols="8" rowHeight="40px">
    <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
      <mat-form-field appearance="outline">
        <mat-label>Customer Name</mat-label>
        <textarea matInput rows="2" formControlName="customerName" type="text" [matAutocomplete]="auto1"
          required></textarea>
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let cusname of filteredOptions | async;" [value]="cusname">
            {{cusname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan="2" rowspan="4">
      <mat-form-field appearance="outline">
        <mat-label>By</mat-label>
        <textarea matInput rows="2" formControlName="by" required></textarea>
      </mat-form-field>
    </mat-grid-tile> -->
    <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="55px">
    <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
      <mat-form-field appearance="outline">
        <mat-label>To (Customer's address)</mat-label>

        <mat-select formControlName="addressTo">
          <mat-option [value]="autoAddress()">
            {{autoAddress()}}
          </mat-option>
        </mat-select>

        <!-- <textarea matInput rows="8" formControlName="addressTo" type="text" [matAutocomplete]="auto"></textarea>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option value="{{autoAddress()}}">
            {{autoAddress()}}
          </mat-option>
        </mat-autocomplete> -->
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="date" placeholder="date" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Expiration date</mat-label>
        <input matInput [matDatepicker]="expirationDate" formControlName="expirationDate">
        <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
        <mat-datepicker #expirationDate></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
  </mat-grid-list>
  <h1 align="center">Items</h1>
  <div align="center">
    <mat-card formArrayName="allItem">
      <table>
        <tr *ngFor="let allItem of quotation['controls'].allItem['controls']; let i = index">
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Item</mat-label>
              <input type="text" matInput [formControl]="allItem.get('item')" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of items; let i = index" [value]="item.name">
                  {{item.name}}
                </mat-option>
              </mat-autocomplete>
              <!-- <input matInput [formControl]="allItem.get('item')" required> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Quantity</mat-label>
              <input matInput min="0" [formControl]="allItem.get('quantity')" type="number" required>
            </mat-form-field>
          </td>
          <td>
            <button type="button" mat-raised-button (click)="removeUnit(i)">
              Remove
            </button>
          </td>
        </tr>
      </table>
      <div align="center">
        <button mat-button>
          <i class="material-icons md-48" (click)="onAddRow()">add_circle_outline</i>
        </button>
      </div>
    </mat-card>
    <!-- <h3>Total price: </h3> -->
  </div>

  <mat-dialog-actions align="center">
    <button *ngIf="!data" mat-raised-button color="primary" (click)="onConfirmClick(0)" tabindex="1"
      [disabled]="!quotation.valid">Create</button>
    <button *ngIf="data" mat-raised-button color="primary" (click)="onConfirmClick(1)" tabindex="1"
      [disabled]="!quotation.valid">Update</button>
    <button mat-raised-button mat-dialog-close tabindex="-1" color="warn">cancel</button>
  </mat-dialog-actions>
</form>
