<form [formGroup]="quotation" novalidate>
  <mat-grid-list cols="12" rowHeight="55px">
    <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
      <mat-form-field appearance="outline">
        <mat-label>To (Customer's address)</mat-label>
        <textarea matInput rows="8" formControlName="addressTo"></textarea>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="date" placeholder="date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Expriation date</mat-label>
        <input matInput [matDatepicker]="expirationDate" formControlName="expirationDate">
        <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
        <mat-datepicker #expirationDate></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
  </mat-grid-list>
  <h1 align="center">Items</h1>
  <mat-grid-list cols="12" rowHeight="50px">
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Item</mat-label>
        <input matInput formControlName="item">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <p>Simple card</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2"></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2">
      <button mat-button>
        <i class="material-icons md-48">add_circle_outline</i>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2"></mat-grid-tile>
  </mat-grid-list>

  <mat-dialog-actions align="center">
    <button *ngIf="!data" mat-raised-button color="primary" (click)="onConfirmClick(0)" tabindex="1"
      [disabled]="!quotation.valid">Create</button>
    <button *ngIf="data" mat-raised-button color="primary" (click)="onConfirmClick(1)" tabindex="1"
      [disabled]="!quotation.valid">Update</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">cancel</button>
  </mat-dialog-actions>
</form>
