<!-- <mat-toolbar class="sticky" class="allbg">
  <mat-toolbar-row>
    <span style="color: white;">Quotation</span>
    <span class="space"></span>
    <button mat-button (click)="edit(data)">
      <i class="material-icons" style="color: white;"> edit </i>
    </button>
       <button mat-button (click)="delete(data,quotation.invoiceId)" style="background-color: red;">
      <i class="material-icons" style="color: white;"> delete </i>
    </button>
    <button mat-button (click)="close()">
      <i class="material-icons" style="color: white;"> close </i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<h4 align="center">
  Employee No.xxx
  <h4 style="color: darkcyan; display: inline-block;">{{ decode(data) }}</h4>
</h4>
<div align="center">
  <mat-spinner *ngIf="!quotation"></mat-spinner>
</div>
<div *ngIf="quotation">
  <div style="padding-left: 50px;">
    <h3>Employee details</h3>
  </div>
  <div style="padding-left: 50px;">
    <img src="/assets/icons/man-user.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan;">
      {{ getCustomer(quotation.customerId).name }} //name
    </h4>
  </div>
  <div style="padding-left: 50px;">
    <img src="/assets/icons/map.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan">
      {{ getCustomer(quotation.customerId).address }} //department
    </h4>
  </div>
  <div style="padding-left: 50px;">
    <img src="/assets/icons/map.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan">
      {{ getCustomer(quotation.customerId).address }} //position
    </h4>
  </div>

  //profile pic

   -->
