/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nopadding-dialog .mat-dialog-container {
  padding: 0px !important;
}
// .nopadding-dialog {
//   min-width: 700px;
// }

.removespace {
  min-width: 550px;
  .mat-dialog-content {
    padding: 0 !important;
  }
  .mat-dialog-container {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.allbg {
  background-color: darkcyan;
}

.disable {
  color: #bdbdbd;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: center !important;
}
