<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4" [rowspan]="0.5">
    <h1 style="margin-right: 50%;">Home</h1>
    <!-- <button mat-button [routerLink]="['/signin']">
      <h3>Username &nbsp;<mat-icon>account_circle</mat-icon></h3>
    </button> -->
    <button mat-button (click)="logout()" [routerLink]="['/signin']">
      <h3>Log out &nbsp;<mat-icon>account_circle</mat-icon></h3>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="4"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1.5">
    <button
      mat-button
      style="margin-left: 3%;"
      *ngFor="let menu of menu"
      [routerLink]="menu.link"
      [disabled]="menu.status === 'disabled'"
    >
    <div *ngIf="menu.status === 'disabled'">
      <img mat-card-image src="{{ menu.img }}" style="opacity: 40%;"/></div>
      <div *ngIf="menu.status === 'active'">
      <img mat-card-image src="{{ menu.img }}"/></div>
      <h3>{{ menu.topicname }}</h3>
    </button></mat-grid-tile
  >
  <mat-grid-tile [colspan]="2" [rowspan]="1.5">
    <button
      mat-button
      style="margin-left: 2%;"
      *ngFor="let menu of menu2"
      [routerLink]="menu.link"
      [disabled]="menu.status === 'disabled'"
    >
    <div *ngIf="menu.status === 'disabled'">
      <img mat-card-image src="{{ menu.img }}" style="opacity: 40%;"/></div>
      <div *ngIf="menu.status === 'active'">
      <img mat-card-image src="{{ menu.img }}"/></div>
      <h3>{{ menu.topicname }}</h3>
    </button></mat-grid-tile
  >
  <div>
    <mat-grid-tile [colspan]="4" [rowspan]="0.5">
      <h1 style="margin-right: 50%;">Database</h1>
    </mat-grid-tile>
  </div>
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <div align="center" style="width: 150%;">
      <button
        mat-button
        style="margin-left: 2%;"
        *ngFor="let menu of downmenu"
        [routerLink]="menu.link"
        [disabled]="menu.status === 'disabled'"
      >
      <div *ngIf="menu.status === 'disabled'">
        <img mat-card-image src="{{ menu.img }}" style="opacity: 40%;"/></div>
        <div *ngIf="menu.status === 'active'">
        <img mat-card-image src="{{ menu.img }}"/></div>
        <h3>{{ menu.topicname }}</h3>
      </button>
      <button
        mat-button
        *ngIf="role === 'admin'"
        style="margin-left: 2%;"
        routerLink="usersmanagement"
      >
      <div>
        <img mat-card-image src="assets/menu/gear.svg" /></div>
        <h3>User Management</h3>
      </button>
      <button
        mat-button
        *ngIf="role === 'admin'"
        routerLink="departmentmanagement"
      >
      <div>
        <img mat-card-image src="assets/menu/team.svg" /></div>
        <h3>Department Management</h3>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
