<mat-toolbar class="sticky" class="allbg">
  <mat-toolbar-row>
    <span style="color: white;">Quotation</span>
    <span class="space"></span>
    <button mat-button (click)="edit(data)">
      <i class="material-icons" style="color: white;"> edit </i>
    </button>
    <button mat-button (click)="openPdf(quotation)">
      <img src="/assets/icons/pdf-file.svg" style="width: 25px;" />
    </button>
    <button mat-button *ngIf="quotation.invoiceId">
      <img
        src="/assets/icons/invoicewhite.svg"
        style="width: 25px;"
        (click)="invoiceDetail(quotation.invoiceId)"
      />
    </button>

    <button mat-button (click)="delete(data,quotation.invoiceId)" style="background-color: red;">
      <i class="material-icons" style="color: white;"> delete </i>
    </button>
    <button mat-button (click)="close()">
      <i class="material-icons" style="color: white;"> close </i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<h4 align="center">
  Quote NO.
  <h4 style="color: darkcyan; display: inline-block;">{{ decode(data) }}</h4>
</h4>
<div align="center">
  <mat-spinner *ngIf="!quotation"></mat-spinner>
</div>
<div *ngIf="quotation">
  <div style="padding-left: 50px;">
    <h3>Customer details</h3>
  </div>
  <div style="padding-left: 50px;">
    <img src="/assets/icons/man-user.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan;">
      {{ getCustomer(quotation.customerId).name }}
    </h4>
  </div>
  <div style="padding-left: 50px;">
    <img src="/assets/icons/map.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan">
      {{ getCustomer(quotation.customerId).address }}
    </h4>
  </div>

  <mat-divider></mat-divider>

  <div style="padding-left: 50px;">
    <h3>Staff details</h3>
  </div>
  <div style="padding-left: 50px;">
    <img src="/assets/icons/staff.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan">{{ quotation.email }}</h4>
  </div>
  <!-- <h3 align="center" style="padding-top: 30px;">
      Staff Name : <h4 style="color: darkcyan; display: inline-block;">{{ quotation.by }}</h4>
    </h3> -->
  <!-- <div style="padding-left: 50px;">
    <img src = "/assets/icons/map.svg" style="width: 30px; margin-right: 20px;"><h4 style="display: inline-block; color: darkcyan">  {{ quotation.addressTo }} </h4></div> -->
  <!-- <h3 align="center" style="padding-top: 30px;">
      To (Customer's address) : <h4 style="color: darkcyan; display: inline-block;"> {{ quotation.addressTo }} </h4>
    </h3> -->

  <mat-divider></mat-divider>

  <div style="padding-left: 50px;">
    <h3>Date</h3>
  </div>

  <div style="padding-left: 50px;">
    <img src="/assets/icons/date.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan">
      {{ formatDate(quotation.date) }}
    </h4>
  </div>

  <div style="padding-left: 50px;">
    <img src="/assets/icons/expire.svg" class="imgdetail" />
    <h4 style="display: inline-block; color: darkcyan">
      {{ formatDate(quotation.expirationDate) }}
    </h4>
  </div>
  <div class="showhidebutton">
    <button
      mat-raised-button
      (click)="showItem()"
      style="background-color: darkcyan; color: white; "
    >
      Show/Hide Items
    </button>
  </div>
  <div [hidden]="!isShow">
    <h1 align="center" style="padding-top: 30px; padding-bottom: 20px;">
      Items
    </h1>

    <mat-grid-list cols="6" rowHeight="20px">
      <mat-grid-tile colspan="3" rowspan="2">
        <h2>Item</h2>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="2">
        <h2>Quantity</h2>
      </mat-grid-tile>
    </mat-grid-list>
    <div align="center">
      <mat-spinner *ngIf="!quotation"></mat-spinner>
    </div>
    <div *ngIf="quotation">
      <div *ngFor = "let itemm of getAll(quotation.itemId, quotation.itemQuantity);let i = index">
        <mat-grid-list cols="6" rowHeight="30px">
          <mat-grid-tile colspan="3" rowspan="2">
            <h4 style="color: darkcyan; display: inline-block;">
              {{ itemm.name }}
            </h4>
          </mat-grid-tile>
          <mat-grid-tile colspan="3" rowspan="2">
            <h4 style="color: darkcyan; display: inline-block;">
              {{ itemm.quantity }}
            </h4></mat-grid-tile
          >
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
